@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary-50: #edfff8;
  --color-primary-100: #d5fff2;
  --color-primary-200: #aeffe4;
  --color-primary-300: #70ffd1;
  --color-primary-400: #2bfdb7;
  --color-primary-500: #00ffaa;
  --color-primary-600: #00c07b;
  --color-primary-700: #009664;
  --color-primary-800: #067551;
  --color-primary-900: #076045;
  --color-primary-950: #003725;
}

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary-600 rounded;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-600/20 rounded;
  }
}
